{
  "root": true,
  "extends": [
    "@nuxtjs",
    "eslint:recommended",
    "plugin:nuxt/recommended",
    "plugin:prettier/recommended",
    "plugin:vue/vue3-essential",
    "@vue/typescript/recommended",
    "@vue/prettier",
    "@vue/eslint-config-typescript",
    "@vue/eslint-config-prettier",
  ],
  "plugins": ["prettier"],
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "vue/setup-compiler-macros": true
  },
  parserOptions: {
    ecmaVersion: 2020,
  },
  "rules": {
    "no-var": "error",
    "no-unused-vars": "warn",
    "vue/no-unused-components": "warn",
    "no-console": process.env.NODE_ENV === "production" ? "warn" : "off",
    "no-debugger": process.env.NODE_ENV === "production" ? "warn" : "off",
  }
}
