{
  "root": true,
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "plugin:nuxt/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["prettier"],
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "vue/setup-compiler-macros": true
  },
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "no-var": "error",
    "no-unused-vars": "warn",
    "vue/no-unused-components": "warn",
    "no-console": "warn",
    "no-debugger": "warn"
  }
}
